<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Sensyne Gif</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">

          <h1 class="mt-5">Gif Generator - {{ tag }}</h1>

          <img src="{{ gify_reponse }}">

          <form>
            <div class="form-group">
              <label for="new_tag">Tag</label>
              <input class="form-control" id="new_tag" name="new_tag" placeholder="enter new tag here e.g. cats">
            </div>
            <button type="submit" class="btn btn-primary" formmethod="post" formaction="{{ url_for('set_tag') }}">Submit</button>
          </form>

        </div>
      </div>
    </div>

  </body>

</html>